#root {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 50px;
}

.header {
    align-self: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.personal-information, .education-information, .work-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldsets {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}